@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

html {
  font-size: 16px;
  overscroll-behavior-x: contain;
}

h1 {
  font-family: 'Poppins';
  font-weight: 700;
}

.shadow-overlay {
  background-color: black;
  opacity: 0.27;
}

.background-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

$firstViewHeight: 940px;
$yellowColor: #ffcc48;

@mixin defaultTransition {
  transition: all 0.5s;
}

@mixin black-to-white-gradient {
  background: linear-gradient(to left, black 50%, white 50%);
}

@mixin white-to-black-gradient {
  background: linear-gradient(to right, white 50%, black 50%);
}

@mixin black-to-yellow-gradient {
  background: linear-gradient(to left, $yellowColor 50%, black 50%);
}

@mixin arrow-base {
  background-size: 200% 100%;
  background-position: left bottom;
  fill: black;

  &:hover {
    fill: white;
    cursor: pointer;
  }
}

.arrow-left {
  @include white-to-black-gradient;
  @include arrow-base;
  @include defaultTransition;

  &:hover {
    background-position: 100%;
  }
}

.arrow-right {
  @include black-to-white-gradient;
  @include arrow-base;
  @include defaultTransition;

  &:hover {
    background-position: -100%;
  }
}

.slider {
  @include black-to-white-gradient;
  background-size: 200% 100%;
  background-position: 0%;
  &:hover {
    background-position: -100%;
  }
}

@mixin button-base {
  @include defaultTransition;
  @include black-to-yellow-gradient;
  background-size: 200% 100%;
  background-position: left bottom;
  color: white;
  fill: white;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background-position: -100%;
    color: black;
    fill: black;
    cursor: pointer;
  }
}
.contact-button {
  @include button-base;
  height: 52px;
}

.read-more-button {
  @include button-base;
  height: 78px;
}

.fancy-navlink-border {
  &:after {
    display: block;
    position: relative;
    top: 16.5px;
    content: '';
    border-bottom: solid 1px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:hover:after {
    transform: scaleX(1);
  }
}

$tbtpadding: 29px;

.two-by-two-tl {
  top: 0;
  left: 0;
  padding-top: $tbtpadding;
  padding-left: $tbtpadding;
}

.two-by-two-bl {
  bottom: 0;
  left: 0;
  padding-bottom: $tbtpadding;
  padding-left: $tbtpadding;
}

img {
  margin: auto;
}
